@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/assets/css/spinner";
@import "/assets/css/theme-button";
@import "/assets/css/confirm_modal";
@import "/assets/css/auth";
@import "/assets/css/component";
@import "/assets/css/header";
@import "/assets/css/search_bar";
@import "/assets/css/movies";
@import "/assets/css/form";
@import "/assets/css/categories";
@import "/assets/css/profil";
@import "/assets/css/theme-colors";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background-color: var(--color1);
  color: var(--color-black-in-light);
  word-break: break-word;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  transition: background-color .5s, color .5s ease-in-out;
}
main {
  padding: 5rem 0 4rem 5rem;
}
h1 {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}