.btn {
  cursor: pointer;
  background-color: var(--color3);
  color: var(--color-white);
  font-size: .8rem;
  padding: .3rem 2rem;
  border-radius: .3rem;
  opacity: .8;
  box-shadow: var(--box-shadow);

  &:not([disabled]):hover {
    opacity: 1;
  }
  &[disabled] {
    opacity: .6;
    cursor: unset;
  }
}

input {
  border: none;
  outline: none;
  color: var(--color-black-in-light);
  background-color: var(--color2);
  border-bottom: 2px solid var(--color3);
  opacity: .7;
  padding: .5rem 1.5rem;

  &:focus {
    opacity: 1;
  }
}