.profil {

  .videos-profil {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .video-profil form {
    display: flex;
    align-items: center;
    gap: 2rem;

    .container-img {
      width: 10rem;
      height: 6rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10rem 8rem;
    }

    .name {
      position: relative;
      max-width: 12rem;
    }
    .url {
      width: 30rem;
    }
  }

  .delete {
    cursor: pointer;

  }
}