.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    background-color: var(--color4);
    color: var(--color-white);
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  form {width: 100%;}

  button {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    transition: all .3s ease-in-out;

    &:hover {transform: scale(1.1)}
  }

  .or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;

    h3 {font-size: 1.5rem;}

    div {
      height: 1px;
      width: 6rem;
      background-color: var(--color-black-in-light);
    }
  }

  .email {background-color: var(--color3);}

  .google {background-color: #2962ff;}

  .github {
    background-color: black;
    color: whitesmoke;
  }
}