.header {
    width: 3.6rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--color2);
    box-shadow: var(--box-shadow);
    transition: color .3s ease-in-out, background-color .3s ease-in-out, width .3s ease-in-out;
    z-index: 1000;
    padding: 1rem;

    * {cursor: pointer;}

    &[data-isopen="true"] {
        width: 10rem;
        .arrow-menu {
            transform: rotate(180deg);
        }
    }
    .arrow-menu {
        transition: transform .3s ease-in-out;
    }


    .icons, .img-profil {
        min-width: 1.5rem;
        min-height: 1.5rem;
    }
    .links {
        display: flex;
        align-items: center;
        opacity: .8;
        margin-top: 1.5rem;
        max-height: 1.5rem;
        overflow: hidden;

        &:hover {
            opacity: 1;
        }
    }
    p {
        font-weight: 500;
        font-size: .9rem;
        margin-left: 1rem;
        opacity: 0;
        animation: .3s apparition .3s linear forwards;
    }

    .profil {
        position: absolute;
        bottom: 1rem;

        .img-profil {
            border-radius: 50%;
            border: 2px solid var(--color-black-in-light);
            padding: .1rem;
            background-position: center;
            background-size: cover;
        }
    }
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}